         @using Antlr.Runtime         @model  WeatherNote.ViewModel.NoteTempViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@DateTime.Today.ToShortDateString()</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>   

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notes[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>Max temperature</th>   
        <th></th>
    </tr>

    @foreach (var item in Model.Notes)
    {
        <tr>  
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @if (item.Date == DateTime.Today.AddDays(1).Date)
                {
                    @Html.DisplayFor(m => m.Temps[0]) <text> °C </text>;
                }
                else if (item.Date == DateTime.Today.AddDays(2).Date)
                {
                    @Html.DisplayFor(m => m.Temps[1]) <text> °C </text>;
                }
                else if (item.Date == DateTime.Today.AddDays(3).Date)
                {
                    @Html.DisplayFor(m => m.Temps[2]) <text> °C </text>;
                }
                else if (item.Date == DateTime.Today.AddDays(4).Date)
                {
                    @Html.DisplayFor(m => m.Temps[3]) <text> °C </text>;
                }
                else
                {
                    <text> ?°C </text>;
                }
            </td>
            <td>
                @Html.ActionLink("Delete note", "Delete", new {id = item.WeatherNoteId})
            </td>

        </tr>  
    }   
</table>